/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}

.inline {
	float:left;
}

.ui-datepicker-calendar__{
	background-color: white;
}

.ui-datepicker-div__{
	background-color: white;
	border: 4px solid #139643;
	border-radius: 8px;
}