<?xml version="1.0" encoding="UTF-8"?>
<taglib xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
	version="2.1">
	<tlib-version>1.0</tlib-version>
	<short-name>myfn</short-name>
	<uri>http://samplefn</uri>
	<function>
		<name>contains</name>
		<function-class>utilities.UtilidadesTag</function-class>
		<function-signature>boolean contains(java.util.Collection,
			java.lang.Object)
		</function-signature>
	</function>
	<function>
		<name>listCustomerContainsUserAccount</name>
		<function-class>utilities.UtilidadesTag</function-class>
		<function-signature>boolean listCustomerContainsUserAccount(java.util.Collection,
			security.UserAccount)
		</function-signature>
	</function>
</taglib>